/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2016, 4:38:39 PM
    Author     : Jason
*/

.employeeTabs {
    background-color: white;
    height: 65%
}

