/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2016, 4:38:39 PM
    Author     : Jason
*/

.employeeTabs {
    background-color: white;
    height: 65%;
    overflow-y: scroll;
}

.employeeButtons {
    
}

.mailingList {
    margin-top: 3%;
}

.customerSugestion {
   border: 1px solid black;
   border-radius: 12px;
   /*margin : 1%;*/
}
.customerSuggestions {
    padding: 1%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
}

